# Java build output
/build/
/.gradle/
/.vscode/
/.idea/
/target/
/*.log
/devnotes.md

# Ignore all JARs
*.jar

# Ignore everything under sandbox
/sandbox/**

# Allow only the two specific files
!/sandbox/gameDir/config/
!/sandbox/gameDir/config/mods.json

!/sandbox/minecraft/
!/sandbox/minecraft/launcher_profiles.json.SAMPLE
